html, body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.warning {
    border: 1px solid red;
}

#abstract {
    font-size: 2em;
    margin-bottom: 20px;
}

#main {
    text-align: center;
    margin: 5% auto;
    width: 92%;
}

#totalRent {
    display: block;
    margin: 0 auto 20px auto;
    text-align: center;
    padding: 3px 5px;
    border: 1px solid black;
}

input {
    font-size: 1.1em;
    font-family: 'Roboto Condensed', sans-serif;
}

.sqrft {
    font-size: 1.05em;
    border: .5px solid grey;
    padding: 2px 3px;
}

#totalRent:focus {
    outline: none;
}

#percentCommonSpace {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 300px;
    height: 20px;
}

#percentCommonSpace {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 10px;
    margin-bottom: 10px;
}

#percentCommonSpace::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #000000;
    border-radius: 3px;
    height: 25px;
    width: 25px;
    background: #ffffff;
    cursor: pointer;


  }

#percentDisplay {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th {
    background-color: #b7b7b7;
    border: 1px solid black;
    text-align: left;
    padding: 3px 5px 2px 5px;
}

td {
    border: 1px solid black;
    padding: 3px 5px 3px 5px;
}

td.delete {
    width: 25px;
    height: 100%;
    background-image: url('delete.png');
    background-size: cover;
    background-position: center;
    opacity: .5;
    transition: .2s;
}

td.delete:hover {
    cursor: pointer;
    opacity: .75;
}

td.delete img {
    height: 25px;
    width: 25px;
    margin: auto;
    opacity: .6;
    transition: .25s;
}

#addButton {
    transition: .25s ease;
    text-align: center;
    background-color: #eaeaea
}

#addButton:hover {
    background-color:#b7b7b7;
    cursor: pointer;
}