html, body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.warning {
    border: 1px solid red;
}

#abstract {
    font-size: 2em;
    margin-bottom: 20px;
}

#main {
    text-align: center;
    margin: 5% auto;
    width: 92%;
}

#totalRent {
    display: block;
    margin: 0 auto 20px auto;
    text-align: center;
    padding: 3px 5px;
    border: 1px solid black;
}

input {
    font-size: 1.1em;
    font-family: 'Roboto Condensed', sans-serif;
}

.sqrft {
    font-size: 1.05em;
    border: .5px solid grey;
    padding: 2px 3px;
}

#totalRent:focus {
    outline: none;
}

#percentCommonSpace {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 300px;
    height: 20px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  
input[type=range]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

#percentDisplay {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th {
    background-color: #b7b7b7;
    border: 1px solid black;
    text-align: left;
    padding: 3px 5px 2px 5px;
}

td {
    border: 1px solid black;
    padding: 3px 5px 3px 5px;
}

td.delete {
    width: 25px;
}

td.delete:hover {
    cursor: pointer;
}
td.delete:hover img {
    opacity: .75;
}

td.delete img {
    height: 25px;
    width: 25px;
    margin: auto;
    opacity: .6;
    transition: .25s;
}

#addButton {
    transition: .25s ease;
    text-align: center;
    background-color: #eaeaea
}

#addButton:hover {
    background-color:#b7b7b7;
    cursor: pointer;
}